* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

body {
  background: #f9fafb;
  direction: rtl;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 100px;
  border: #ffffff;
}

.logo span {
  font-weight: bold;
  font-size: 16px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.header-btn {
  background-color: #3e69b9;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px #3e69b9;
  border: 1px solid #ddd;
}

.card h4 {
  margin-bottom: 12px;
}

.card input,
.card textarea,
.card select {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.card button {
  background-color: #3e69b9;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}